<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Application</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<style type="text/css">
.table-width {
	width: 100%;
	margin: 25px;
}

.nav-height {
	height: 130px;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
	font-size: 19px;
}

td {
	font-size: 15px;
}

.div-dimension {
	margin-left: 9px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-primary nav-height">
		<div class="container-fluid">
			<a class="navbar-brand fs-2 fw-bolder text-light " href="#">Ticket
				Tracker Application</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a
						class="nav-link active text-light fw-light" aria-current="page"
						th:href="@{tickets}"> Tickets</a></li>
					<li class="nav-item"><a
						class="nav-link active text-light fw-light" aria-current="page"
						th:href="@{add}">New Ticket</a></li>
				</ul>
				<form th:action="@{search/{id}}" th:object="${ticket}" method="get"
					class="d-flex">
					<input type="text" name="id" class="form-control me-2"
						placeholder="Search" aria-label="Search">
					<button type="submit" class="btn btn-light">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<h4 class="text-dark fw-bold ms-5 mt-4">List Of Tickets</h4>
	<div class="container div-dimension">

		<table class="table text-center table-width table-striped table-light">
			<tr class="table-dark">
				<th>#</th>
				<th>Ticket Title</th>
				<th>Ticket Short Description</th>
				<th>Ticket Created on</th>
				<th colspan="3">Actions</th>
			</tr>
			<tr th:each="ticket:${ticket}">
				<td th:text="${ticket.id}"></td>
				<td th:text="${ticket.ticketTitle}"></td>
				<td th:text="${ticket.ticketDescription}"></td>
				<td th:text="${ticket.ticketCreation}"></td>
				<td>
					 <form th:action="@{update/{id}(id=${ticket.id})}" method="get"
						th:object="${ticket}">
						<input type="hidden" th:value="${ticket.id}" name="id">
						<button type="submit" class="btn btn-warning hover-warn">Edit</button>
					</form> 
				</td>

				<td>
					<form th:action="@{delete/{id}(id=${ticket.id})}" method="post"
						th:object="${ticket}">
						<input type="hidden" name="id" th:value="${ticket.id}">
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
				<td>
					<form th:action="@{view/{id}(id=${ticket.id})}" method="get"
						th:object="${ticket}">
						<input type="hidden" name="id" th:value="${ticket.id}">
						<button type="submit" class="btn btn-info">View</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>